.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  overflow: auto;
  column-gap: 15px;
  padding: 15px 25px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.card-container:last-child {
  border: none;
}

.no-data {
  color: #99b4c5;
  text-align: center;
  grid-column: 1 / span 3;
}
