.ongoing-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ongoing-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progress-label {
  font-size: 24px;
  font-weight: bold;
}

.delete-button {
  width: auto;
  padding: 10px 20px;
}

.answer-section {
  display: flex;
  flex-direction: row;
  width: 500px;
  align-items: baseline;
}

.answer-input {
  margin-right: 20px;
}

.submit-button {
  width: auto;
  padding: 10px 20px;
}
