.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 18%;
  overflow: auto;
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px 25px;
  align-items: center;
}

.header {
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}
